/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -----------------END RESET---------------- */
header {

}

header img {
	max-width: 100%;
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	margin-bottom: 5%;
}

body {
	margin: 0 auto;
	width: 100%;
}

#main-menu {
	color: black;
	float: right;
	border-top: 2px black solid;
	border-bottom: 2px black solid;
	width: 100%;
}

#main-menu li {
	float: left;
	margin-right: 20px;
	list-style-type:disc;
	margin: 0 auto;
	list-style-position: center;
	li
}

#main-menu a {
	color: black;
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	font-size: 2em;
	padding: 10px;
	text-align: center;
}

#main-menu a:hover {
	background-color: blue;
}

#dog {
	float: left;
	margin: 2.5%;
	width: 45%;
}

#cat {
	float: left;
	margin: 2.5%;
	width: 45%;	
}

article img {
	width:100%;
}

h1 {
	font-weight: bold;
	font-size: 2em;
	margin-top: 2.5%;
	margin-bottom: 2.5%
}

p {
	line-height: 125%;

}

footer {
	text-align: left;
	clear: both;
	border-top: 2px black solid
}


